<div class="container">
<app-proyecto-back-up></app-proyecto-back-up>  
<base href="/form_backup/index">
<%= stylesheet_link_tag    "styles", :media => "screen" %>

<%= javascript_include_tag "./backup/main.js" %>    
<%= javascript_include_tag "./backup/polyfills.js" %>    
<%= javascript_include_tag "./backup/runtime.js" %>    
<%= javascript_include_tag "./backup/scripts.js" %>    
<!-- javascript_include_tag "./backup/vendor.js" -->  
</div>









